/* @import './base.css'; */

/* remove these styles when you import the new sparc-design-system-component-2 */
/* @import "./delete-when-dsc2-imported/_sparc-theme.scss";
@import 'https://fonts.googleapis.com/css?family=Asap:400,400i,500,600,700&display=swap';
@import './delete-when-dsc2-imported/_variables.scss';
@import './delete-when-dsc2-imported/_base.scss';
@import './delete-when-dsc2-imported/_spacing.scss';
@import './delete-when-dsc2-imported/_layout.scss'; */

/* @import '../../node_modules/sparc-design-system-components-2/dist/style.css'; */
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
