$background: #f6fcff;
$background2: #fbfdff;
$backgroundBlocked:#cedded;
$dropShadow: 0px -2px 4px rgba(7, 79, 124, 0.05), /* Light shadow on top */
0px 6px 10px rgba(7, 79, 124, 0.1);

$textDark: #243d8e;
$textMedium: #546085;
$textLight: #d9e3ff;

.dashboard-app{
  /* Scoped CSS Variables */
  --el-color-primary: #243d8e;
  --el-color-primary-light-3: #fbfdff;
  --el-color-primary-dark-2: #546085;
  --color:#243d8e;
  --el-dialog-width: 90%;
}

  
