//add vars to theme.scss
$background: var(--dash-background);
$background2: var(--dash-background2);
$backgroundBlocked: var(--dash-backgroundBlocked);
$dropShadow: var(--dash-drop-shadow);

$textDark: var(--dash-text-dark);
$textMedium: var(--dash-text-medium);
$textLight: var(--dash-text-light);

$secondary:var(--dash-secondary);
