.dashboard-app{
    --el-color-primary: #243d8e;
    --el-color-primary-light-3: #fbfdff;
    --el-color-primary-dark-2: #546085;
    --color:#243d8e;
    --el-dialog-width: 90%;
    --dash-secondary: #243d8e;
  }
  //   .el-dialog {
  //   padding: 0 !important;
  // }